# Telegram
BOT_TOKEN=8219717218:AAH3DWZlx-TcZtvswPcC08_5RgmUJKgCa88
LOG_CHAT_ID=-1003156228140
ADMIN_USER_IDS=8064754809,

# TON
TON_API_KEY=4ab6a5b40be0aed15336a85c9be172ce0513274f7cd43eb28d03be28820e2791
TON_NETWORK=mainnet
TON_CONNECT_MANIFEST_URL=https://your-domain.com/tonconnect-manifest.json

# Casino
NFT_GIFT_COLLECTION=rg-gifts
DATABASE_URL=sqlite+aiosqlite:///./casino.db
